[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
versionner = "*"
twine = "*"
wheel = "*"
pytest = "*"
flake8 = "*"
bandit = "*"
pep8-naming = "*"
flake8-bandit = "*"
safety = "*"
flake8-commas = "*"
flake8-mutable = "*"
flake8-walrus = "*"
flake8-annotations = "*"
integresql-client-python = {editable = true, path = "."}

[requires]
python_version = "3.8"
